<%= turbo_frame_tag dom_id(article) do %>

<div class="card my-4">
  <div class="card-body">
   <h4 class="card-title"><%= article.user.username %></h4>
   <h6 class="card-subtitle mb-3 text-muted border-bottom pb-3">Posted on: <%= article.created_at %></h6>

    
    <%= article.content %>
  </div>

  <div class="card-footer">
    <%= link_to "Edit", edit_discussion_article_path(article.discussion, article), data: { turbo_frame: dom_id(article) } %>
        |  <%= link_to "Delete", discussion_article_path(article.discussion, article), data: { turbo_method: :delete } %>

  </div>



</div>

<% end %>