<div id="<%= dom_id(discussion) %>" class="mb-2">
    <h2><%= link_to discussion.name, discussion %></h2>

  Opened: <%= discussion.opened %> | Closed: <%= discussion.closed %>

<div>
  <%= link_to "Edit Discussion", edit_discussion_path(discussion) %> |
  
  <%= link_to "Delete", discussion, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>


</div>

</div>

